body, html{
  display: flexbox;
  height:100%;
}
body{
  margin: 0px;
  background-color:black;
  font-size: 30px;
}
body, a:link, a:visited, a:active{
  color: yellow;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 30px; font-style: normal; font-variant: small-caps; font-weight: 700;
}
.title, .addDancerButton{
  padding: 5px;
  float:left;
}

.addDancerButton, .lineUpButton{
  padding:5px;
  float:right;
  border: 1px solid yellow;
}
.topbar{
  display: flexbox;
  align-content: center
  height:10%;
  background-color: rgb(25, 25, 166);
}
.title{
  background-color: rgb(25, 25, 166);
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.pacman{
  background: url("images/pacman-eating.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  visibility: visible;
  order: 1px solid transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid transparent;
  /* border-right: 1px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent; */
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  animation-name: pacmanAnimation;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}



@keyframes pacmanAnimation{
  0%{left: 0%; visibility: visible}
  100%{left: 100%; visibility: visible}
}

.pacman:hover{
  animation-play-state: paused;
  width: 80px;
  height: 80px;
  animation-name: pacmanHoverAnimation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}

/* @keyframes pacmanHoverAnimation {
  17%{border-top: 80px solid orange; border-left: 80px solid orange; border-bottom: 80px solid orange;}
  34%{border-top: 80px solid red; border-left: 80px solid red; border-bottom: 80px solid red}
  51%{border-top: 80px solid purple; border-left: 80px solid purple; border-bottom: 80px solid purple}
  68%{border-top: 80px solid blue; border-left: 80px solid blue; border-bottom: 80px solid blue}
  85%{border-top: 80px solid green; border-left: 80px solid green; border-bottom: 80px solid green}
  100%{border-top: 80px solid yellow; border-left: 80px solid yellow; border-bottom: 80px solid yellow}
} */

.ghost{
  background: url("images/pacman-ghost.png");
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  visibility: hidden;
  border: 1px solid transparent;
  border-radius: 0px;
  position:absolute;
  width: 60px;
  height: 60px;
  animation-name: ghostAnimation;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes ghostAnimation {
  0%{left: 100%; visibility: visible}
  100%{left: 0%; visibility: hidden}
}